/Photobooth_Unity/Assets/OpenCVForUnity
/Photobooth_Unity/Assets/TextMesh Pro
/Photobooth_Unity/Assets/StreamingAssets
/Photobooth_Unity/Assets/TextMesh Pro.meta
/Photobooth_Unity/ProjectSettings/EditorBuildSettings.asset
/Photobooth_Unity/ProjectSettings/ShaderGraphSettings.asset
/Photobooth_Unity/ProjectSettings/URPProjectSettings.asset
